/* ----------------FOOTER---------------------FOOTER--------------FOOTER---------------FOOOTER----------------- */
#footer.navbar {
    background-color:#232F3E !important;
    display: flex;
    justify-content: space-around;
    font-family:"Roboto", serif;
    align-items: center;
    
    #footerRedes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items:center;
        font-size: 18px;
        column-gap: 30px;
        
        i {
            font-size: 35px;
            color:#E6E6E6;
          }
          
      }

    ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction:row;
        align-items:center;
        font-size: 18px;
        column-gap: 30px;
      }
      
    li a {
        color: #E6E6E6;
      }
        
    article h1 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 15px;
      color:white;
    }

  }
  /* From Uiverse.io by portseif */ 
  #boton {
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
  }
  
  #boton:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
  #boton:hover:before {
    background-color: #fff;
    width: 3rem;
  }



  