/*---------------HEADER----------------HEADER-----------------------HEADER------------------*/
.navbar {
    background-color: #004B91 !important;
    
    ul  {
        display: flex;
        justify-content: space-around;
        column-gap: 200px;

        a {
            color: white;
        }

    }


}




