#main {
    background-color: blue;
    color: white;

    h6 {
        color: black;
        font-size: 80px;
        background-color: whitesmoke;
    }
}

#body {
    background-color: greenyellow;
}