/*-------------------MAIN---------------------MAIN--------------------------MAIN------------------MAIN--------------*/
#main {
    background-color:yellowgreen;
}
.container img {
    width: 100%;
    height: 100%;
}

